<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define SammyPaintShop_TargetDir=$(var.SammyFunApp.TargetDir)?>
	<?define AppName="Sammy's Paint Shop"?>
	<?define ManufacturerName="McLellan Technologies"?>
	<?define AppDescription="Simple paint app that helps teach colours"?>
	<Product Name="$(var.AppName)" Manufacturer="$(var.ManufacturerName)" Id="056C8DDF-D9D9-4182-BA4F-5685A0AFE375" UpgradeCode="056C8DDF-D9D9-4182-BA4F-5685A0AFE375" Language="1033" Codepage="1252" Version="1.0.0">
		<Package Id="*" Keywords="Installer" Description="$(var.AppName) 1.0 Installer" Comments="$(var.AppName) is a registered trademark of $(var.ManufacturerName)." Manufacturer="$(var.ManufacturerName)" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.AppName) is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Icon Id="icon.ico" SourceFile="$(var.SammyPaintShop_TargetDir)Resources\sammypaintshop.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
		<UIRef Id="WixUI_InstallDir" />

		<WixVariable Id="WixUILicenseRtf" Value="$(var.SammyPaintShop_TargetDir)Resources\license.rtf" />	
		
		
		<WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />

		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing Sammy's Paint Shop." />

		<Feature Id="ProductFeature" Title="SetupProject" Level="1">
			<ComponentGroupRef Id="INSTALLDIR_files" />
			<ComponentRef Id="ColourDB"/>
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="McLellanTechnologies" Name="$(var.ManufacturerName)">
					<Directory Id="INSTALLDIR" Name="$(var.AppName)">
						<Directory Id="INSTALLDIR_Resources" Name="Resources"/>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.AppName)"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>
	
	

	<!--<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			-->
	<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
	<!--
			-->
	<!-- <Component Id="ProductComponent"> -->
	<!--
				-->
	<!-- TODO: Insert files, registry keys, and other resources here. -->
	<!--
			-->
	<!-- </Component> -->
	<!--
		</ComponentGroup>
	</Fragment>-->
	<Fragment>
		<ComponentGroup Id="INSTALLDIR_files" Directory="INSTALLDIR">
			<Component Id="SammyPaintShop.exe" Guid="b9988d10-28be-4ba3-808b-9c3070e411a6">
				<File Id="SammyPaintShop.exe" Name="SammyPaintShop.exe" Source="$(var.SammyPaintShop_TargetDir)SammyPaintShop.exe" KeyPath="yes" />
			</Component>
			<Component Id="SammyPaintShop.exe.config" Guid="c052ef62-18ee-4dfd-835d-ce0be30654b9">
				<File Id="SammyPaintShop.exe.config" Name="SammyPaintShop.exe.config" Source="$(var.SammyPaintShop_TargetDir)SammyPaintShop.exe.config" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="4915250d-c26f-40db-ba76-1c2402419100">
				<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.SammyPaintShop_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="Humanizer.dll" Guid="c8678c03-1fe4-40b3-9a48-1c00c2a69782">
				<File Id="Humanizer.dll" Name="Humanizer.dll" Source="$(var.SammyPaintShop_TargetDir)Humanizer.dll" />
			</Component>			
		</ComponentGroup>
		<Component Id="ColourDB" Guid="96CDF501-A885-4306-B766-2F62A59DF278" Directory="INSTALLDIR_Resources" >
			<File Id="ColourDB.json" Name="colourdb.json" Source="$(var.SammyPaintShop_TargetDir)Resources\ColourDB.json" />
		</Component>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="AA2A793B-F623-4E1E-A001-4D0DB08D4458">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="$(var.AppName)"
						  Description="$(var.AppDescription)"
						  Target="[#SammyPaintShop.exe]"
						  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\$(var.ManufacturerName)\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="90CF982E-9BF3-40E4-9EF6-A5EFECF066B0">
				<Shortcut Id="ApplicationDesktopShortcut" Name="$(var.AppName)" Description="$(var.AppDescription)" Target="[#SammyPaintShop.exe]" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\$(var.ManufacturerName)\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
